.listInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	height: 180px;
	gap: 10px;
	width: 60%;
	background-color: white;
	border-radius: 10px;
}
