@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins';
	padding: 0;
	background-color: #023047;
	margin-top: 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(../../assets/background.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	mix-blend-mode: soft-light;
}

.logo {
	width: 10rem;
	margin-right: 22vw;
}

.menu button {
	margin: 2vw;
	border: 2px;
	padding: 10px;
	width: 10vw;
	min-width: 7vw;
	border-radius: 10px;
	background-color: transparent;
	border-style: solid;
	border-color: #fb8500;
	font-family: 'Poppins';
	font-weight: 600;
	color: azure;
}
.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.paragraph {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20vh;
	max-width: 80%;
	color: azure;
}
.paragraph img {
	width: 20vw;
}
.paragraph p {
	margin-right: 20vw;
	width: 50%;
	font-weight: 200;
	font-size: 4vw;
}

.part1 {
	color: azure;
	font-weight: 500;
	font-size: 3vw;
}
.part1 b {
	color: #ffb703;
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20vw;
	border-radius: 20px;
	background-color: #4f5457;
	width: 45vw;
	padding: 15px;
}
.card img {
	width: 20vw;
	border-radius: 20px;
}

.card button {
	margin: 0;
	border: 2px;
	padding: 5px;
	width: 10vw;
	min-width: 7vw;
	border-radius: 10px;
	background-color: transparent;
	border-style: solid;
	border-color: azure;
	font-family: 'Poppins';
	font-weight: 400;
	color: azure;
	font-size: 20px;
}

.menu2 button {
	margin: 2vw;
	border: 2px;
	padding: 10px;
	width: 10vw;
	min-width: 7vw;
	border-radius: 10px;
	background-color: transparent;
	border-style: solid;
	border-color: azure;
	font-family: 'Poppins';
	font-weight: 600;
	color: azure;
}
.menu2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
