.navigation-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.navigagation-bar-link {
	font-weight: bold;
	color: white;
}
.link-inderline {
	padding: 0 10px;
	border-bottom: 5px solid white;
}
